.productgrid {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-list,
.body {
  border: 1px solid #d4d4d4;
  margin: 5px;
  padding: 3px;
}
