{% extends "product/layout.html" %}

{% block body %}

    <!-- Page to display the Product catalog page. this has two sub divs : header and grid. -->
    <div id="product-list" class="container-fluid" style="display:none">
        <div class="product-list-header">
            <div class="row">
                <div class="col-sm-11" style="background-color:light-grey;"><h2>Products Catalog</h2></div>
                <div class="col-sm-1" style="background-color:light-grey;">
                <input id="btn-product-display-filter" type="button" class="btn btn-primary btn-sm" onclick="btn_product_display_filter()" value="Show filter">
                </div>
            </div>
            <div class="row" id="div-product-filter" style="display:none">
                <div class="col-sm-12" style="background-color:light-grey;">
                    <div class="row"> 
                        <div class="col-sm-3" style="background-color:light-grey;">
                            <input Enabled id="input-product-filter" class="form-control" value="">
                        </div>
                        <div class="col-sm-9" style="background-color:light-grey;">
                            <input type="button" class="btn btn-primary btn-sm" onclick="btn_product_filter()" value="Filter">
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div id="product-list-grid">
            <h1>Grid is displayed here.</h1>
        </div>     
    </div>  

    <!-- Page to view the product details (view) -->
    <div id="product-item" class="container-fluid" style="display:none">
    <h1>One Page Dotrack Application - Product</h1>
    </div>  

     <!-- Page to add/edit the Product (update/add) -->
    <div id="product-update" class="container-fluid" style="display:none">
        <div class="product-update-header">
            <div class="row">
                <div id="product-edit-title" class="col-sm-12" style="background-color:light-grey;"></div>
            </div>
        </div>
        <hr>
        <div id="error-message" class="alert alert-danger" style="display:none"></div>
        <form id="product-form">
            <div class="form-group row">
                <label for="productCode" class="col-sm-1 col-form-label">Code</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="productCode" style="text-transform: uppercase;" value="">
                    <input type="hidden" class="form-control" id="productId" style="text-transform: uppercase;" value="0">
                </div>                
            </div>
            <div class="form-group row">
                <label for="productName" class="col-sm-1 col-form-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="productName" value="" placeholder="Product name">
                </div>  
            </div>
            <div class="form-group row">
                <label for="productCategory" class="col-sm-1 col-form-label">Category</label>                
                <div class="col-sm-6">
                <select class="form-control" id="productCategory" name="category_id">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                </div>  
            </div>   
            <div class="form-group row">
                <label for="productModel" class="col-sm-1 col-form-label">Model</label>                
                <div class="col-sm-6">
                <select class="form-control" id="productModel" name="model_id">
                    {% for model in models %}
                        <option value="{{ model.id }}">{{ model.name }}</option>
                    {% endfor %}
                </select>
                </div>  
            </div>          
            <div class="form-group row">
                <label for="productDescription" class="col-sm-1 col-form-label">Description</label>
                <div class="col-sm-11">
                    <textarea class="form-control" id="productDescription" rows="6"></textarea>
                </div>  
            </div>
            <div class="form-group row">
                <div id="div-btn-product-save" class="col-sm-2">
                    <input type="button" id="btn-product-save" onclick="btn_product_save('continue')" class="btn btn-primary"/ value="Save and add another">
                </div>  
                <div id="div-btn-product-saveexit" class="col-sm-2">
                    <input type="button" id="btn-product-saveexit" onclick="btn_product_save('exit')" class="btn btn-primary"/ value="Save and exit">
                </div>
                <div id="div-btn-product-edit" class="col-sm-2">
                    <input type="button" id="btn-product-edit" onclick="btn_product_edit()" class="btn btn-primary"/ value="Save">
                </div>    
                <div id="div-btn-product-cancel" class="col-sm-2">
                    <input type="button" id="btn-product-cancel" onclick="product_catalog_page('', 0)" class="btn btn-danger"/ value="Cancel">
                </div>                  
            </div>
        </form>
    </div>

    <div id="page_footer">
    </div>

{% endblock %}